@import "tailwindcss";

/* For WebKit-based browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: #2d3748;
}

*::-webkit-scrollbar-thumb {
  background-color: #718096; 
  border-radius: 20px;
  border: 1px solid #2d3748; 
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0; 
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #718096 #2d3748;
}